body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.panel {
    padding: 20px;
    box-sizing: border-box;
}

.panel1 {
    width: 16.6666667%; /* 1/6 of screen width */
    background-color: #d3e4ef;
}

.panel2 {
    width: 83.3333333%; /* 5/6 of screen width */
    background-color: #ebf0fe;
}

.item-list {
    list-style-type: none;
    padding: 0;
}

.item-list li {
    margin-bottom: 10px;
    background-color: #d4ddef;
    border-radius: 5px;
}
.copyright{
    margin-left: 40%;
}
.item-list li a {
    display: block;
    padding: 10px;
    border: 1px solid #bbb9b9;
    border-radius: 5px;
    text-decoration: none;
    color: #b0acac;
    transition: background-color 0.3s ease;
}

.item-list li a:hover {
    background-color: #f0f0f0;
}

header {
    background-color: #288bf6;
    padding: 5px;
}
.alogo {
    width: 30%;
    margin-top: px;
    border-radius: 100%;
}

header h1 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

header p {
    margin: 0;
    /* font-weight: bold; */
    font-style: oblique;
    color: #ffffff;
    font-size: 20px;
    text-align: right;
}
.db {
    width: 83.3333333%;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.board {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    margin: 20px;
}


.student-text {
    margin-right: 70px; /* Adjust margin as needed */
}
.dblogo {
    width: 40px;
    margin-top: px;
    border-radius: 100%;
}

.log{
    color: rgb(0, 64, 255);
    font-size: larger;
    margin-left: 70%;
}